/*
  GetStarted
*/

.get-started-section {
  padding: 145px 0 160px 0;
  margin-top: 0 !important;
  font-family: 'Poppins', sans-serif;

  .image-section {
    height: 700px;
    position: relative;
    @media (max-width: 1373px) {
      height: 400px;
    }
    @media (max-width: 960px) {
      height: 700px;
    }
    @media (max-width: 576px) {
      height: 400px;
    }

    .firstImg {
      left: -100px;
      top: 0px;
      position: absolute;
      @media (max-width: 1373px) {
        width: 460px;
        left: -40px;
      }
      @media (max-width: 960px) {
        left: 0px;
        width: auto;
      }
      @media (max-width: 700px) {
        left: 0px;
        width: 400px;
      }
      @media (max-width: 576px) {
        width: 300px;
        left: -24px;
      }
    }
    .secondImg {
      left: 25px;
      top: -30px;
      position: absolute;
      @media (max-width: 1373px) {
        width: 370px;
        left: 58px;
      }
      @media (max-width: 960px) {
        left: 125px;
        width: auto;
      }
      @media (max-width: 700px) {
        left: 90px;
        width: 350px;
      }
      @media (max-width: 576px) {
        width: 250px;
        left: 40px;
      }
    }
    .thirdImg {
      left: 110px;
      top: -65px;
      position: absolute;
      @media (max-width: 1373px) {
        width: 370px;
        left: 120px;
        top: -75px;
      }
      @media (max-width: 960px) {
        left: 220px;
        width: auto;
      }
      @media (max-width: 700px) {
        left: 170px;
        width: 350px;
      }
      @media (max-width: 576px) {
        width: 260px;
        left: 90px;
      }
    }
  }

  .action {
    .title {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 60px;
      color: #FFFFFF;
      margin-bottom: 30px;
      line-height: 65px;
      letter-spacing: -0.9375px;

      @media (max-width: 576px) {
        font-size: 51px;
      }

      .highlight {
        font-family: 'Poppins', sans-serif;
        color: #3772FF;
        font-weight: bold;
        font-size: 60px;
      }
    }

    .simple-description {
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      color: #646A79;
    }

    .btn-section {
      margin-top: 40px;
      display: flex;
      align-items: center;
      flex-direction: row;

      @media (max-width: 576px) {
        flex-direction: column;
      }

      .get-started-btn {
        width: 202px;
        height: 55px;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        text-transform: capitalize;
        border-radius: 25px;
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #7DC0FF, #F199DA, #F7AF85);
        background-origin: border-box;
        box-shadow: 2px 1000px 1px #000000 inset, 0px 0px 40px #cf77f3, 0px 0px 40px #009bff, 0px 0px 1px #2ac9db;
        font-family: 'Poppins', sans-serif;
      }

      .learn-more {
        margin-left: 55px;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        color: #3772FF;
        text-transform: initial;
        font-family: 'Poppins', sans-serif;

        button {
          margin-left: 20px;
          svg {
            color: #3772FF;
          }
        }
        @media (max-width: 576px) {
          margin-top: 35px;
          margin-left: 0px;
        }
      }
    }
  }
}