/*
  common styles
*/

.logo-icon-list {
  display: flex;
  align-items: center;
  
  img {
    cursor: pointer;
    width: 23px;
    height: 28px;

    &:first-child {
      margin-right: 5px;
    }
  }
}